body {
  font-family: "Mountains of Christmas", cursive;
  font-family: "Ubuntu Mono", monospace;
  background-color: lightgrey;
}
h1 {
  color: white;
  font-size: 54px;
}

h2 {
  margin-top: 8px;
  font-size: 40px;
}
.container {
  text-align: center;
  width: 500px;
  margin-top: 5px;
}
.date {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
}
.mainTemp {
  margin-right: 0;
}
.paragraph {
  font-size: 12px;
  margin-top: 5px;
}
#description {
  text-transform: capitalize;
}
#cityH1 {
  margin-bottom: 0px;
}
#secondary {
  width: 75px;
}
#main {
  width: 75px;
}
a {
  font-size: 25px;
  text-decoration: none;
  margin: 0px 0px;
}

.h2 {
  font-size: 40px;
  margin: 0px 0px;
}
.image {
  background-image: url("sky.png");
  margin-top: 15px;
  border-radius: 4px;
}

.bottom-icons {
  font-size: 40px;
}

.main-icon {
  font-size: 10px;
}
.weather-forecast-temperature-min {
  color: grey;
}
